<!DOCTYPE html>
  {% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <title>Django Girls blog </title>

     <link type="text/css" href="{% static 'fonts/icon.css' %}" rel="stylesheet">
     <link type="text/css" rel="stylesheet" href="{% static 'css/materialcss/materialize.min.css' %}" media="screen,projection">
     <link type="text/css" rel="stylesheet" href="{% static 'css/blog.css' %}">
     <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>
    <div class="container yellow darken-3 ">
      <div class="">
        {% if user.is_authenticated %}
        <a href="{% url 'post_draft_list' %}"><span class="yellow-text text-lighten-5"><i class="material-icons">edit</i></span></a>
        <a href="{% url 'post_new' %}" class="top-menu"><i class="material-icons yellow-text text-lighten-5">add</i></a>
        <p>Hello {{ user.username }}<small>(<a href="{% url 'logout' %}">Log out</a>)</small></p>
        {% else %}
        <a href="{% url 'login' %}"><i class="material-icons yellow-text text-lighten-5">lock</i></a>
        {% endif %}
        <h1><a href="/" class=""><span class="yellow-text text-lighten-5">Django Girls Blog</span></a></h1>
      </div>
      <div class="divider">
      </div>
    </div>
      <div class="container">
        {% block content %}
        {% endblock %}
      </div>
    <script type="text/javascript" src="{% static 'js/materialjs/jquery-2.2.4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/materialjs/materialize.min.js' %}"> </script>
  </body>
</html>
